

.companies-tags ul {
    list-style: none;
   
}

.companies-tags ul li {
    display: inline;
}

.companies-tags ul li span {
    text-align: center;
    margin: 0.5rem;
}

.login-form {
    min-width: 40%;
    min-height: 100%;
}

@media screen and (max-width:500px) {
    .login-form {
        min-width: 100%;
        min-height: 100%;
    }
}